<a href="https://colab.research.google.com/github/alteregoxiv/stockpred/blob/main/stockprediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **STOCK PREDICTION USING LSTM(KERAS)**

# **Importing necessary Libraries**

In [39]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# **Training Data Set**

In [40]:
traindata = pd.read_csv("./AMZNtrain.csv")
traindata.head()

         Date        Open        High  ...       Close   Adj Close   Volume
0  2014-01-02  398.799988  399.359985  ...  397.970001  397.970001  2137800
1  2014-01-03  398.290009  402.709991  ...  396.440002  396.440002  2210200
2  2014-01-06  395.850006  397.000000  ...  393.630005  393.630005  3170600
3  2014-01-07  395.040009  398.470001  ...  398.029999  398.029999  1916000
4  2014-01-08  398.470001  403.000000  ...  401.920013  401.920013  2316500

[5 rows x 7 columns]

# **Testing Data Set**

In [41]:
testdata = pd.read_csv("./AMZNtest.csv")
testdata.head()

         Date         Open         High  ...        Close    Adj Close   Volume
0  2019-01-02  1465.199951  1553.359985  ...  1539.130005  1539.130005  7983100
1  2019-01-03  1520.010010  1538.000000  ...  1500.280029  1500.280029  6975600
2  2019-01-04  1530.000000  1594.000000  ...  1575.390015  1575.390015  9182600
3  2019-01-07  1602.310059  1634.560059  ...  1629.510010  1629.510010  7993200
4  2019-01-08  1664.689941  1676.609985  ...  1656.579956  1656.579956  8881400

[5 rows x 7 columns]

# **Shapes of both data sets(Train , Test)**

In [42]:
traindata.shape , testdata.shape

((1258, 7), (21, 7))

# **Concatenating Datasers and Sorting**

In [43]:
data = pd.concat([traindata , testdata] , axis=0 , ignore_index=True)
data.head

<bound method NDFrame.head of             Date         Open         High  ...        Close    Adj Close    Volume
0     2014-01-02   398.799988   399.359985  ...   397.970001   397.970001   2137800
1     2014-01-03   398.290009   402.709991  ...   396.440002   396.440002   2210200
2     2014-01-06   395.850006   397.000000  ...   393.630005   393.630005   3170600
3     2014-01-07   395.040009   398.470001  ...   398.029999   398.029999   1916000
4     2014-01-08   398.470001   403.000000  ...   401.920013   401.920013   2316500
...          ...          ...          ...  ...          ...          ...       ...
1274  2019-01-25  1670.500000  1683.479980  ...  1670.569946  1670.569946   4945900
1275  2019-01-28  1643.589966  1645.000000  ...  1637.890015  1637.890015   4837700
1276  2019-01-29  1631.270020  1632.380005  ...  1593.880005  1593.880005   4632800
1277  2019-01-30  1623.000000  1676.949951  ...  1670.430054  1670.430054   5783800
1278  2019-01-31  1692.849976  1736.410034  ...  1718.729980  1718.729980  10910300

[1279 rows x 7 columns]>

In [44]:
for i in range(len(data)):
  date = data["Date"][i]
  d = date.split("-")
  s = str(d[0]) + str(d[1]) + str(d[2])
  data["Date"][i] = s
data.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

       Date        Open        High  ...       Close   Adj Close   Volume
0  20140102  398.799988  399.359985  ...  397.970001  397.970001  2137800
1  20140103  398.290009  402.709991  ...  396.440002  396.440002  2210200
2  20140106  395.850006  397.000000  ...  393.630005  393.630005  3170600
3  20140107  395.040009  398.470001  ...  398.029999  398.029999  1916000
4  20140108  398.470001  403.000000  ...  401.920013  401.920013  2316500

[5 rows x 7 columns]

In [45]:
data = data.sort_index(ascending=True , axis=0)
data.head

<bound method NDFrame.head of           Date         Open         High  ...        Close    Adj Close    Volume
0     20140102   398.799988   399.359985  ...   397.970001   397.970001   2137800
1     20140103   398.290009   402.709991  ...   396.440002   396.440002   2210200
2     20140106   395.850006   397.000000  ...   393.630005   393.630005   3170600
3     20140107   395.040009   398.470001  ...   398.029999   398.029999   1916000
4     20140108   398.470001   403.000000  ...   401.920013   401.920013   2316500
...        ...          ...          ...  ...          ...          ...       ...
1274  20190125  1670.500000  1683.479980  ...  1670.569946  1670.569946   4945900
1275  20190128  1643.589966  1645.000000  ...  1637.890015  1637.890015   4837700
1276  20190129  1631.270020  1632.380005  ...  1593.880005  1593.880005   4632800
1277  20190130  1623.000000  1676.949951  ...  1670.430054  1670.430054   5783800
1278  20190131  1692.849976  1736.410034  ...  1718.729980  1718.729980  10910300

[1279 rows x 7 columns]>

# **Saving the DataFrame**

In [46]:
data.to_csv(r'./AMZNTotalData.csv' , index=False)

In [47]:
newdata = pd.read_csv("./AMZNTotalData.csv")
newdata.head

<bound method NDFrame.head of           Date         Open         High  ...        Close    Adj Close    Volume
0     20140102   398.799988   399.359985  ...   397.970001   397.970001   2137800
1     20140103   398.290009   402.709991  ...   396.440002   396.440002   2210200
2     20140106   395.850006   397.000000  ...   393.630005   393.630005   3170600
3     20140107   395.040009   398.470001  ...   398.029999   398.029999   1916000
4     20140108   398.470001   403.000000  ...   401.920013   401.920013   2316500
...        ...          ...          ...  ...          ...          ...       ...
1274  20190125  1670.500000  1683.479980  ...  1670.569946  1670.569946   4945900
1275  20190128  1643.589966  1645.000000  ...  1637.890015  1637.890015   4837700
1276  20190129  1631.270020  1632.380005  ...  1593.880005  1593.880005   4632800
1277  20190130  1623.000000  1676.949951  ...  1670.430054  1670.430054   5783800
1278  20190131  1692.849976  1736.410034  ...  1718.729980  1718.729980  10910300

[1279 rows x 7 columns]>

# **Test Train Split from the concatenated Data Set**

In [48]:
limit = np.random.rand((len(newdata)))<0.7
train = newdata[limit]
test = newdata[~limit]
train.shape , test.shape

((890, 7), (389, 7))

In [49]:
newtrain = train[['Adj Close']]
newtest = test[['Adj Close']]

newtrain.shape , newtest.shape

((890, 1), (389, 1))

# **Scaling the Data**

In [60]:
from sklearn.preprocessing import MinMaxScaler
sc = MinMaxScaler(feature_range = (0, 1))

newtrain = sc.fit_transform(newtrain)
newtest = sc.fit_transform(newtest)

newtrain = np.reshape(newtrain , (-1 , 1))
newtest = np.reshape(newtest , (-1 , 1))

# **Preparing the Final data using timestep for LSTM**

In [66]:
def final_data(data , timestep):
  xdata , ydata = [] , []
  l = len(data)
  for i in range(l-timestep):
    a = data[i : i+timestep , 0]
    xdata.append(a)
    ydata.append(data[i+timestep , 0])
  return np.array(xdata) , np.array(ydata)



timestep = 60
xtrain  , ytrain = final_data(newtrain , timestep)
xtest , ytest = final_data(newtest , timestep)

In [69]:
xtrain = xtrain.reshape(xtrain.shape[0] , xtrain.shape[1] , 1)
xtest = xtest.reshape(xtest.shape[0] , xtest.shape[1] , 1)
#xtrain.shape
#print(xtrain)

# **Preparing Model**

In [75]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense , LSTM

In [76]:
model = Sequential()
model.add(LSTM(50 , return_sequences=True , input_shape=(60 , 1)))
model.add(LSTM(50 , return_sequences=True))
model.add(LSTM(50))
model.add(Dense(1))
model.compile(loss='mean_squared_error' , optimizer='adam')

In [77]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm (LSTM)                  (None, 60, 50)            10400
_________________________________________________________________
lstm_1 (LSTM)                (None, 60, 50)            20200
_________________________________________________________________
lstm_2 (LSTM)                (None, 50)                20200
_________________________________________________________________
dense (Dense)                (None, 1)                 51
=================================================================
Total params: 50,851
Trainable params: 50,851
Non-trainable params: 0
_________________________________________________________________

# **Fitting**

In [78]:
model.fit(xtrain , ytrain , validation_data=(xtest , ytest) , epochs=100 , batch_size=64 , verbose=1)

Epoch 1/100
13/13 [==============================] - 8s 213ms/step - loss: 0.0580 - val_loss: 0.0111
Epoch 2/100
13/13 [==============================] - 2s 121ms/step - loss: 0.0073 - val_loss: 0.0041
Epoch 3/100
13/13 [==============================] - 2s 120ms/step - loss: 0.0023 - val_loss: 0.0029
Epoch 4/100
13/13 [==============================] - 2s 118ms/step - loss: 0.0019 - val_loss: 0.0026
Epoch 5/100
13/13 [==============================] - 2s 121ms/step - loss: 0.0013 - val_loss: 0.0030
Epoch 6/100
13/13 [==============================] - 2s 121ms/step - loss: 0.0012 - val_loss: 0.0030
Epoch 7/100
13/13 [==============================] - 2s 122ms/step - loss: 0.0012 - val_loss: 0.0028
Epoch 8/100
13/13 [==============================] - 2s 121ms/step - loss: 0.0011 - val_loss: 0.0025
Epoch 9/100
13/13 [==============================] - 2s 123ms/step - loss: 0.0011 - val_loss: 0.0025
Epoch 10/100
13/13 [==============================] - 2s 121ms/step - loss: 0.0011 - val_loss: 0.0025
Epoch 11/100
13/13 [==============================] - 2s 120ms/step - loss: 0.0011 - val_loss: 0.0028
Epoch 12/100
13/13 [==============================] - 2s 118ms/step - loss: 0.0011 - val_loss: 0.0023
Epoch 13/100
13/13 [==============================] - 2s 118ms/step - loss: 0.0011 - val_loss: 0.0023
Epoch 14/100
13/13 [==============================] - 2s 119ms/step - loss: 0.0010 - val_loss: 0.0022
Epoch 15/100
13/13 [==============================] - 2s 118ms/step - loss: 0.0011 - val_loss: 0.0023
Epoch 16/100
13/13 [==============================] - 2s 121ms/step - loss: 0.0010 - val_loss: 0.0022
Epoch 17/100
13/13 [==============================] - 2s 119ms/step - loss: 9.9186e-04 - val_loss: 0.0022
Epoch 18/100
13/13 [==============================] - 2s 119ms/step - loss: 9.7570e-04 - val_loss: 0.0021
Epoch 19/100
13/13 [==============================] - 2s 119ms/step - loss: 0.0010 - val_loss: 0.0021
Epoch 20/100
13/13 [==============================] - 2s 120ms/step - loss: 0.0010 - val_loss: 0.0021
Epoch 21/100
13/13 [==============================] - 2s 117ms/step - loss: 9.0052e-04 - val_loss: 0.0023
Epoch 22/100
13/13 [==============================] - 1s 116ms/step - loss: 9.3224e-04 - val_loss: 0.0020
Epoch 23/100
13/13 [==============================] - 2s 119ms/step - loss: 8.6374e-04 - val_loss: 0.0020
Epoch 24/100
13/13 [==============================] - 2s 119ms/step - loss: 8.1830e-04 - val_loss: 0.0021
Epoch 25/100
13/13 [==============================] - 2s 118ms/step - loss: 8.4079e-04 - val_loss: 0.0018
Epoch 26/100
13/13 [==============================] - 2s 117ms/step - loss: 9.0879e-04 - val_loss: 0.0020
Epoch 27/100
13/13 [==============================] - 2s 120ms/step - loss: 8.3319e-04 - val_loss: 0.0018
Epoch 28/100
13/13 [==============================] - 2s 120ms/step - loss: 7.8783e-04 - val_loss: 0.0018
Epoch 29/100
13/13 [==============================] - 2s 117ms/step - loss: 8.2878e-04 - val_loss: 0.0021
Epoch 30/100
13/13 [==============================] - 2s 121ms/step - loss: 8.5510e-04 - val_loss: 0.0019
Epoch 31/100
13/13 [==============================] - 2s 119ms/step - loss: 8.4548e-04 - val_loss: 0.0018
Epoch 32/100
13/13 [==============================] - 2s 120ms/step - loss: 7.7578e-04 - val_loss: 0.0018
Epoch 33/100
13/13 [==============================] - 2s 119ms/step - loss: 8.3121e-04 - val_loss: 0.0018
Epoch 34/100
13/13 [==============================] - 2s 120ms/step - loss: 8.1955e-04 - val_loss: 0.0017
Epoch 35/100
13/13 [==============================] - 2s 118ms/step - loss: 7.5995e-04 - val_loss: 0.0024
Epoch 36/100
13/13 [==============================] - 2s 120ms/step - loss: 9.7977e-04 - val_loss: 0.0021
Epoch 37/100
13/13 [==============================] - 2s 119ms/step - loss: 9.5671e-04 - val_loss: 0.0017
Epoch 38/100
13/13 [==============================] - 2s 118ms/step - loss: 9.4124e-04 - val_loss: 0.0017
Epoch 39/100
13/13 [==============================] - 2s 120ms/step - loss: 7.2348e-04 - val_loss: 0.0018
Epoch 40/100
13/13 [==============================] - 2s 121ms/step - loss: 7.1526e-04 - val_loss: 0.0016
Epoch 41/100
13/13 [==============================] - 2s 118ms/step - loss: 7.5615e-04 - val_loss: 0.0016
Epoch 42/100
13/13 [==============================] - 2s 119ms/step - loss: 7.1785e-04 - val_loss: 0.0016
Epoch 43/100
13/13 [==============================] - 2s 121ms/step - loss: 7.9499e-04 - val_loss: 0.0019
Epoch 44/100
13/13 [==============================] - 2s 119ms/step - loss: 8.2524e-04 - val_loss: 0.0019
Epoch 45/100
13/13 [==============================] - 2s 120ms/step - loss: 6.9133e-04 - val_loss: 0.0016
Epoch 46/100
13/13 [==============================] - 2s 121ms/step - loss: 7.1915e-04 - val_loss: 0.0015
Epoch 47/100
13/13 [==============================] - 2s 120ms/step - loss: 7.4294e-04 - val_loss: 0.0015
Epoch 48/100
13/13 [==============================] - 2s 119ms/step - loss: 7.5404e-04 - val_loss: 0.0016
Epoch 49/100
13/13 [==============================] - 2s 119ms/step - loss: 7.9647e-04 - val_loss: 0.0015
Epoch 50/100
13/13 [==============================] - 2s 120ms/step - loss: 6.5532e-04 - val_loss: 0.0019
Epoch 51/100
13/13 [==============================] - 2s 119ms/step - loss: 7.1671e-04 - val_loss: 0.0016
Epoch 52/100
13/13 [==============================] - 2s 118ms/step - loss: 7.2025e-04 - val_loss: 0.0015
Epoch 53/100
13/13 [==============================] - 2s 119ms/step - loss: 6.9573e-04 - val_loss: 0.0015
Epoch 54/100
13/13 [==============================] - 2s 118ms/step - loss: 7.6655e-04 - val_loss: 0.0015
Epoch 55/100
13/13 [==============================] - 2s 120ms/step - loss: 8.5477e-04 - val_loss: 0.0016
Epoch 56/100
13/13 [==============================] - 2s 119ms/step - loss: 8.1143e-04 - val_loss: 0.0013
Epoch 57/100
13/13 [==============================] - 2s 120ms/step - loss: 6.6084e-04 - val_loss: 0.0013
Epoch 58/100
13/13 [==============================] - 2s 119ms/step - loss: 6.6924e-04 - val_loss: 0.0013
Epoch 59/100
13/13 [==============================] - 2s 119ms/step - loss: 6.6113e-04 - val_loss: 0.0012
Epoch 60/100
13/13 [==============================] - 2s 119ms/step - loss: 7.5680e-04 - val_loss: 0.0014
Epoch 61/100
13/13 [==============================] - 2s 121ms/step - loss: 6.7140e-04 - val_loss: 0.0013
Epoch 62/100
13/13 [==============================] - 2s 121ms/step - loss: 6.1958e-04 - val_loss: 0.0013
Epoch 63/100
13/13 [==============================] - 2s 120ms/step - loss: 6.1512e-04 - val_loss: 0.0013
Epoch 64/100
13/13 [==============================] - 2s 118ms/step - loss: 6.0120e-04 - val_loss: 0.0011
Epoch 65/100
13/13 [==============================] - 2s 120ms/step - loss: 6.0229e-04 - val_loss: 0.0011
Epoch 66/100
13/13 [==============================] - 2s 118ms/step - loss: 5.8709e-04 - val_loss: 0.0012
Epoch 67/100
13/13 [==============================] - 2s 120ms/step - loss: 6.2381e-04 - val_loss: 0.0016
Epoch 68/100
13/13 [==============================] - 2s 120ms/step - loss: 6.2044e-04 - val_loss: 0.0013
Epoch 69/100
13/13 [==============================] - 2s 120ms/step - loss: 6.3343e-04 - val_loss: 0.0011
Epoch 70/100
13/13 [==============================] - 2s 120ms/step - loss: 5.7393e-04 - val_loss: 0.0010
Epoch 71/100
13/13 [==============================] - 2s 121ms/step - loss: 5.6721e-04 - val_loss: 9.7071e-04
Epoch 72/100
13/13 [==============================] - 2s 121ms/step - loss: 6.4238e-04 - val_loss: 0.0014
Epoch 73/100
13/13 [==============================] - 2s 119ms/step - loss: 5.8445e-04 - val_loss: 9.9247e-04
Epoch 74/100
13/13 [==============================] - 2s 117ms/step - loss: 5.3800e-04 - val_loss: 0.0011
Epoch 75/100
13/13 [==============================] - 2s 122ms/step - loss: 6.1875e-04 - val_loss: 8.9030e-04
Epoch 76/100
13/13 [==============================] - 2s 120ms/step - loss: 5.0868e-04 - val_loss: 9.1258e-04
Epoch 77/100
13/13 [==============================] - 2s 121ms/step - loss: 4.8865e-04 - val_loss: 0.0010
Epoch 78/100
13/13 [==============================] - 2s 120ms/step - loss: 5.3089e-04 - val_loss: 0.0011
Epoch 79/100
13/13 [==============================] - 2s 121ms/step - loss: 4.8782e-04 - val_loss: 9.1501e-04
Epoch 80/100
13/13 [==============================] - 2s 119ms/step - loss: 4.5653e-04 - val_loss: 0.0010
Epoch 81/100
13/13 [==============================] - 2s 120ms/step - loss: 4.9139e-04 - val_loss: 7.9711e-04
Epoch 82/100
13/13 [==============================] - 2s 118ms/step - loss: 4.4027e-04 - val_loss: 8.7098e-04
Epoch 83/100
13/13 [==============================] - 2s 121ms/step - loss: 5.3283e-04 - val_loss: 0.0012
Epoch 84/100
13/13 [==============================] - 2s 121ms/step - loss: 4.7209e-04 - val_loss: 8.3585e-04
Epoch 85/100
13/13 [==============================] - 2s 122ms/step - loss: 4.0608e-04 - val_loss: 7.6173e-04
Epoch 86/100
13/13 [==============================] - 2s 120ms/step - loss: 4.6376e-04 - val_loss: 8.2813e-04
Epoch 87/100
13/13 [==============================] - 2s 120ms/step - loss: 4.4058e-04 - val_loss: 9.0284e-04
Epoch 88/100
13/13 [==============================] - 2s 120ms/step - loss: 4.6008e-04 - val_loss: 0.0010
Epoch 89/100
13/13 [==============================] - 2s 119ms/step - loss: 4.4545e-04 - val_loss: 7.7289e-04
Epoch 90/100
13/13 [==============================] - 2s 119ms/step - loss: 4.0607e-04 - val_loss: 7.1711e-04
Epoch 91/100
13/13 [==============================] - 2s 120ms/step - loss: 3.4256e-04 - val_loss: 7.3552e-04
Epoch 92/100
13/13 [==============================] - 2s 123ms/step - loss: 3.5464e-04 - val_loss: 7.5658e-04
Epoch 93/100
13/13 [==============================] - 2s 120ms/step - loss: 3.4444e-04 - val_loss: 6.7935e-04
Epoch 94/100
13/13 [==============================] - 2s 122ms/step - loss: 3.7613e-04 - val_loss: 7.5788e-04
Epoch 95/100
13/13 [==============================] - 2s 118ms/step - loss: 3.8419e-04 - val_loss: 8.3244e-04
Epoch 96/100
13/13 [==============================] - 2s 119ms/step - loss: 3.5263e-04 - val_loss: 8.4092e-04
Epoch 97/100
13/13 [==============================] - 2s 122ms/step - loss: 4.1472e-04 - val_loss: 7.6348e-04
Epoch 98/100
13/13 [==============================] - 2s 121ms/step - loss: 3.5013e-04 - val_loss: 6.5704e-04
Epoch 99/100
13/13 [==============================] - 2s 119ms/step - loss: 3.3624e-04 - val_loss: 6.7999e-04
Epoch 100/100
13/13 [==============================] - 2s 119ms/step - loss: 3.1397e-04 - val_loss: 7.2636e-04