<a href="https://colab.research.google.com/github/alteregoxiv/stockpred/blob/main/stockprediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **STOCK PREDICTION USING LSTM(KERAS)**

# **Importing necessary Libraries**

In [39]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# **Training Data Set**

In [40]:
traindata = pd.read_csv("./AMZNtrain.csv")
traindata.head()

         Date        Open        High  ...       Close   Adj Close   Volume
0  2014-01-02  398.799988  399.359985  ...  397.970001  397.970001  2137800
1  2014-01-03  398.290009  402.709991  ...  396.440002  396.440002  2210200
2  2014-01-06  395.850006  397.000000  ...  393.630005  393.630005  3170600
3  2014-01-07  395.040009  398.470001  ...  398.029999  398.029999  1916000
4  2014-01-08  398.470001  403.000000  ...  401.920013  401.920013  2316500

[5 rows x 7 columns]

# **Testing Data Set**

In [41]:
testdata = pd.read_csv("./AMZNtest.csv")
testdata.head()

         Date         Open         High  ...        Close    Adj Close   Volume
0  2019-01-02  1465.199951  1553.359985  ...  1539.130005  1539.130005  7983100
1  2019-01-03  1520.010010  1538.000000  ...  1500.280029  1500.280029  6975600
2  2019-01-04  1530.000000  1594.000000  ...  1575.390015  1575.390015  9182600
3  2019-01-07  1602.310059  1634.560059  ...  1629.510010  1629.510010  7993200
4  2019-01-08  1664.689941  1676.609985  ...  1656.579956  1656.579956  8881400

[5 rows x 7 columns]

# **Shapes of both data sets(Train , Test)**

In [42]:
traindata.shape , testdata.shape

((1258, 7), (21, 7))

# **Concatenating Datasers and Sorting**

In [43]:
data = pd.concat([traindata , testdata] , axis=0 , ignore_index=True)
data.head

<bound method NDFrame.head of             Date         Open         High  ...        Close    Adj Close    Volume
0     2014-01-02   398.799988   399.359985  ...   397.970001   397.970001   2137800
1     2014-01-03   398.290009   402.709991  ...   396.440002   396.440002   2210200
2     2014-01-06   395.850006   397.000000  ...   393.630005   393.630005   3170600
3     2014-01-07   395.040009   398.470001  ...   398.029999   398.029999   1916000
4     2014-01-08   398.470001   403.000000  ...   401.920013   401.920013   2316500
...          ...          ...          ...  ...          ...          ...       ...
1274  2019-01-25  1670.500000  1683.479980  ...  1670.569946  1670.569946   4945900
1275  2019-01-28  1643.589966  1645.000000  ...  1637.890015  1637.890015   4837700
1276  2019-01-29  1631.270020  1632.380005  ...  1593.880005  1593.880005   4632800
1277  2019-01-30  1623.000000  1676.949951  ...  1670.430054  1670.430054   5783800
1278  2019-01-31  1692.849976  1736.410034  ...  1718.729980  1718.729980  10910300

[1279 rows x 7 columns]>

In [44]:
for i in range(len(data)):
  date = data["Date"][i]
  d = date.split("-")
  s = str(d[0]) + str(d[1]) + str(d[2])
  data["Date"][i] = s
data.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

       Date        Open        High  ...       Close   Adj Close   Volume
0  20140102  398.799988  399.359985  ...  397.970001  397.970001  2137800
1  20140103  398.290009  402.709991  ...  396.440002  396.440002  2210200
2  20140106  395.850006  397.000000  ...  393.630005  393.630005  3170600
3  20140107  395.040009  398.470001  ...  398.029999  398.029999  1916000
4  20140108  398.470001  403.000000  ...  401.920013  401.920013  2316500

[5 rows x 7 columns]

In [45]:
data = data.sort_index(ascending=True , axis=0)
data.head

<bound method NDFrame.head of           Date         Open         High  ...        Close    Adj Close    Volume
0     20140102   398.799988   399.359985  ...   397.970001   397.970001   2137800
1     20140103   398.290009   402.709991  ...   396.440002   396.440002   2210200
2     20140106   395.850006   397.000000  ...   393.630005   393.630005   3170600
3     20140107   395.040009   398.470001  ...   398.029999   398.029999   1916000
4     20140108   398.470001   403.000000  ...   401.920013   401.920013   2316500
...        ...          ...          ...  ...          ...          ...       ...
1274  20190125  1670.500000  1683.479980  ...  1670.569946  1670.569946   4945900
1275  20190128  1643.589966  1645.000000  ...  1637.890015  1637.890015   4837700
1276  20190129  1631.270020  1632.380005  ...  1593.880005  1593.880005   4632800
1277  20190130  1623.000000  1676.949951  ...  1670.430054  1670.430054   5783800
1278  20190131  1692.849976  1736.410034  ...  1718.729980  1718.729980  10910300

[1279 rows x 7 columns]>

# **Saving the DataFrame**

In [46]:
data.to_csv(r'./AMZNTotalData.csv' , index=False)

In [47]:
newdata = pd.read_csv("./AMZNTotalData.csv")
newdata.head

<bound method NDFrame.head of           Date         Open         High  ...        Close    Adj Close    Volume
0     20140102   398.799988   399.359985  ...   397.970001   397.970001   2137800
1     20140103   398.290009   402.709991  ...   396.440002   396.440002   2210200
2     20140106   395.850006   397.000000  ...   393.630005   393.630005   3170600
3     20140107   395.040009   398.470001  ...   398.029999   398.029999   1916000
4     20140108   398.470001   403.000000  ...   401.920013   401.920013   2316500
...        ...          ...          ...  ...          ...          ...       ...
1274  20190125  1670.500000  1683.479980  ...  1670.569946  1670.569946   4945900
1275  20190128  1643.589966  1645.000000  ...  1637.890015  1637.890015   4837700
1276  20190129  1631.270020  1632.380005  ...  1593.880005  1593.880005   4632800
1277  20190130  1623.000000  1676.949951  ...  1670.430054  1670.430054   5783800
1278  20190131  1692.849976  1736.410034  ...  1718.729980  1718.729980  10910300

[1279 rows x 7 columns]>

# **Test Train Split from the concatenated Data Set**

In [48]:
limit = np.random.rand((len(newdata)))<0.7
train = newdata[limit]
test = newdata[~limit]
train.shape , test.shape

((890, 7), (389, 7))

In [49]:
newtrain = train[['Adj Close']]
newtest = test[['Adj Close']]

newtrain.shape , newtest.shape


# from sklearn.preprocessing import MinMaxScaler

# sc = MinMaxScaler(feature_range = (0, 1))
# training_set_scaled = sc.fit_transform(train)

# x_train = []
# y_train = []
# for i in range(60, len(train)):
#   x_train.append(training_set_scaled[i-60:i, 0])
#   y_train.append(training_set_scaled[i, 0])
# x_train, y_train = np.array(x_train), np.array(y_train)
# x_train = np.reshape(x_train, (x_train.shape[0], x_train.shape[1], 1))

# x_train.shape , y_train.shape

((890, 1), (389, 1))

In [60]:
from sklearn.preprocessing import MinMaxScaler
sc = MinMaxScaler(feature_range = (0, 1))

newtrain = sc.fit_transform(newtrain)
newtest = sc.fit_transform(newtest)

newtrain = np.reshape(newtrain , (-1 , 1))
newtest = np.reshape(newtest , (-1 , 1))

In [66]:
def final_data(data , timestep):
  xdata , ydata = [] , []
  l = len(data)
  for i in range(l-timestep):
    a = data[i : i+timestep , 0]
    xdata.append(a)
    ydata.append(data[i+timestep , 0])
  return np.array(xdata) , np.array(ydata)



timestep = 60
xtrain  , ytrain = final_data(newtrain , timestep)
xtest , ytest = final_data(newtest , timestep)

In [51]:
a = [[1 , 2] , [3 , 4]]
a = np.array(a)
a = np.reshape(a , (-1 , 1))
print(a)

[[1]
 [2]
 [3]
 [4]]